<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="<%= GROOM_FULLNAME %> ❤️ <%= BRIDE_FULLNAME %> 결혼합니다."
    />
    <meta property="og:image" content="https://buritto-sudo.github.io/wedding1/preview_image.png?v=2" />
    <meta property="og:url" content="https://buritto-sudo.github.io/wedding1/" />
    <meta property="og:description" content="2026년11월15일 일요일 12:50 울산롯데호텔 르엘컨벤션웨딩홀" />
    
    <!-- ⭕ 또렷한 가독성을 위한 프리텐다드 폰트 추가 -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

    <link rel="preload" href="/MapoGoldenPierA.woff" as="font" crossorigin />
    <link rel="preload" href="/AlluraRegular.woff" as="font" crossorigin />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/font.css" />
    <title><%= GROOM_FULLNAME %> ❤️ <%= BRIDE_FULLNAME %> 결혼합니다.</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
